@charset "utf-8";
@import "font-awesome.min.css";
/*Style created by Rafael De Jongh 
Content Table:
--------------
- Reset
- Body
    - Aside
        - Avatar
        - Navigation
- MediaQueries
- Links
- Scrollbar
- Selection

Reset
------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/*Body
------------------*/
.none {display:none} /*REMOVE ME LATER*/
html {
    height:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    overflow:hidden; /*REMOVE LATER*/
}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:1.6;
    color:#eee;
    background-color:#1a1a1a;
    height:100%;
    background-color:#1b1a1f;
    background-image:url("../images/bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:center center;
    height:100%;
    position:relative;
}
/*Aside
------------------*/
aside {
    background-color:rgba(240, 248, 255,.1);
    display:inline-block;
    height:100%;
    width: 6em;
    float:left;
    clear:both;
    text-align: center;
}
aside nav a {display:inline-block}
aside nav a:first-of-type {margin-top:3em;}
aside nav a i{
    border:1px solid #fff;
    margin:.6em;
    padding:1em;
    min-width:18px;
    min-height:18px;
    text-align:center;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.4);
	box-shadow:0 1px 3px rgba(0,0,0,.4);
    -webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
aside nav a:hover i{background-color:rgba(255,255,255,.15)}
aside nav a i:before{
    color:#fff;
    font-size:18px;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease;
}
/*Content
------------------*/
main {
    display:inline-block;
    /*background-color: rgba(240, 248, 255,.15);*/
    width: calc(100% - 6em);
    height: 100%;
    
}
.content::before {
	content:"";
	display:inline-block;
    width:610px;
    height:310px;
    position:absolute;
    z-index:-1;
    left:-5px;
    top:-5px;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position:center center;
	background-image:url("../images/bg.jpg");
	background-image:-moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../images/bg.jpg");
	background-image:-webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../images/bg.jpg");
	background-image:linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../images/bg.jpg");
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
	-webkit-filter:blur(5px);
	-moz-filter:blur(5px);
	-o-filter:blur(5px);
	-ms-filter:blur(5px);
	filter:blur(5px);
	overflow:hidden;
}
.content {
    width:600px;
    height:300px;
    left:calc(50% - 300px);
    top:24%;
    position:absolute;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
    -moz-box-shadow:0 10px 30px rgba(0,0,0,.6);
    -webkit-box-shadow:0 10px 30px rgba(0,0,0,.6);
    box-shadow:0 10px 30px rgba(0,0,0,.6);
    border:1px solid rgba(255, 255, 255,.1);
    padding:20px;
    text-align:center;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box; 
	-webkit-transition:box-shadow .3s ease-in-out;
    -moz-transition:box-shadow .3s ease-in-out;
    -o-transition:box-shadow .3s ease-in-out;
    transition:box-shadow .3s ease-in-out;
	overflow:hidden;
}
/*.content:hover{
	cursor:move;
    -moz-box-shadow:0 10px 32px rgba(0,0,0,.7);
    -webkit-box-shadow:0 10px 32px rgba(0,0,0,.7);
    box-shadow:0 10px 32px rgba(0,0,0,.7);
}
.content:active {
  cursor:move;
  -moz-box-shadow:0 10px 50px rgba(0,0,0,.9);
  -webkit-box-shadow:0 10px 50px rgba(0,0,0,.9);
  box-shadow:0 10px 50px rgba(0,0,0,.9);
}*/
/*Footer
------------------*/
/*footer {
    text-align: center;
    width: calc(100% - 1em);
    padding:.5em;
}*/
/*MediaQueries
------------------*/
@media screen and (min-width: 1920px) { 
}
@media screen and (max-width: 1600px) { 
}
@media screen and (max-width: 1366px) { 
}
@media screen and (max-width: 1024px) { 
}
@media screen and (max-width: 945px) { 
}
@media screen and (max-width: 740px) { 
}
@media screen and (max-width: 510px) { 
}
/*Links
------------------*/
a {
    color:#eee;
    text-decoration:none;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease;
}
a:visited, a:active, a:hover {color: #fff}
/*Scrollbar
------------------*/
::-webkit-scrollbar {width:12px;height:12px;background-color:#323a45}
::-webkit-scrollbar-corner {background-color:#323a45}
::-webkit-scrollbar-track {background-color:#323a45}
::-webkit-scrollbar-thumb {background:#25b695}
::-webkit-scrollbar:horizontal {height:12px}
/*Selection
------------------*/
::selection {color:#fff;background-color:#25b695}
::-moz-selection {color:#fff;background-color:#25b695}